div{
    width: 100px;
    height: 40px;
    background-color: aqua;
    position: relative;
    margin: 20px;
    padding: 20px;
    border-radius: 10px;
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
span{
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: row;
}